<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/favicon.png">
    <link rel="stylesheet" href="../assets/css/about_style.css">
    <title>SWIFT | About Us</title>
</head>

<body>
    <div class="navBar">
        <a href="./air_landing.html" class="logo">
            <img src="../assets/images/logo.png" width="75px">
        </a>

        <div class="navOthers">
            <a href="./destination.html" id="navDiff">Top Destinations</a>
            <a href="./air_landing.html">SWIFT Air</a>
            <a href="./road_landing.html">SWIFT Road</a>
        </div>

        <ul>
            <li><a href="./about.html">About Us</a></li>
            <button>Login</button>
        </ul>
    </div>

    <section class="aboutUs">
        <div class="aboutAir">
            <div class="aboutAirText">
                <h1>We are Swift!</h1>
                <p>We were founded in 2022 with the goal of connecting the individuals both locally and internationally
                    through travel. Our priority is easy, safe, and convenient travel just for you; that is why we bring
                    to you the comfort and ease booking safe travel both on the highways, roads and across international
                    borders.</p>

                <h4>SWIFT AIR</h4>
                <p>With SWIFT air, flying has never been this easy. From the comfort of your home, you can select
                    flights you wish and book selected flights anytime, anywhere, with a 24/7 customer service.</p>
            </div>
        </div>

        <div class="aboutRoad">
            <div class="aboutRoadText">
                <!-- <h1>We are Swift!</h1>
                <p>We were founded in 2022 with the goal of connecting the individuals both locally and internationally through travel. Our priority is easy, safe, and convenient travel just for you; that is why we bring to you the comfort and ease booking safe travel both on the highways, roads and across international borders.</p>
                 -->
                <h4>SWIFT Road</h4>
                <p>SWIFT Road makes it super easy to get a pickup ride from anywhere you are within our service range.
                    We have branches and staff workers in over 90 countries across 6 continents. All it takes is your
                    smartphone and our website and you are minutes away from your dream rides with one of our qualified
                    and well-tested drivers.</p>
            </div>
        </div>
    </section>

    <section class="news">
        <div class="newsText">
            <h2>Want to get the latest travel news and deals from us?</h2>
            <p>Enter your email and we'll have them sent your way.</p>
        </div>

        <div class="newsInput">
            <input type="email" placeholder="Your email...">
            <button>Subscribe</button>
        </div>
    </section>

    <section class="footer">
        <div class="footerLeft">
            <ul class="footerServices">
                <li>Services</li>
                <li><a href="./air_landing.html">Flights</a></li>
                <li><a href="./road_landing.html">Rides</a></li>
                <li><a href="./destination.html">Top Destinations</a></li>
            </ul>

            <ul class="moreOnUs">
                <li>More on Us</li>
                <li><a href="./about.html">About Us</a></li>
                <!-- <li><a href="#">Feedback</a></li> -->
            </ul>
        </div>

        <div class="footerRight">
            <h3>CONTACT US</h3>
            <div class="contactLeft">
                <p>Mobile: +2348052218277</p>
                <p>Email: swiftinc@gmail.com</p>
            </div>

            <div class="contactRight">
                <p>Our HEAD OFFICE: 43 st. Lukashire street, Lilby estate, Bonny Island, Rivers State, Nigeria.</p>
            </div>
        </div>
    </section>
    <section class="copyright">
        <p>© 2022 Swift transports. All rights reserved</p>
    </section>
</body>

</html>