<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/favicon.png">
    <link rel="stylesheet" href="../assets/css/air_style.css">
    <title>SWIFT | Easy transportation to various detinations both locally and Internationally</title>
</head>

<body>
    <section class="bookingHeader">
        <div class="navBar">
            <a href="./air_landing.html" class="logo">
                <img src="../assets/images/logo.png" width="75px">
            </a>
            
            <div class="navOthers">
                <a href="./destination.html" id="navDiff">Top Destinations</a>
                <a href="./road_landing.html">SWIFT Road</a>
            </div>

            <ul>
                <li><a href="./about.html">About Us</a></li>
                <button>Login</button>
            </ul>
        </div>

        
        <div class="bookPage">
            <form>
                <h2>BOOK FLIGHT TICKETS</h2>

                <div class="bookingOptions">
                    <div class="oneWay">
                        <img src="../assets/images/roundTrip icon.png" height="35px">

                        <select>
                            <option>One Way</option>
                            <option>Round Trip</option>
                            <option>Multi-city</option>


                        </select>
                    </div>

                    <div class="ticketNumber">
                        <img src="../assets/images/avatar.png" height="18px">

                        <select>
                            <option>Adults</option>
                            <option>Children</option>
                            <option>Infants</option>
                        </select>

                        <input type="number" min="1">
                    </div>

                    <div class="ticketClass">
                        <select>
                            <option>Economy</option>
                            <option>Premium Economy</option>
                            <option>Business Class</option>
                            <option>First Class</option>
                        </select>
                    </div>
                </div>

                <div class="bookingInput">
                    <div class="bookFrom">
                        <!-- <label>From</label> -->
                        <input type="text" placeholder="From -- Enter City">
                    </div>

                    <div class="bookTo">
                        <!-- <label>To</label> -->
                        <input type="text" placeholder="To -- Enter City">
                    </div>

                    <div class="bookingDates">
                        <div class="departDate">
                            <!-- <label>Departure</label> -->
                            <input type="date">
                        </div>

                        <div class="returnDate">
                            <!-- <label>Return</label> -->
                            <input type="date">
                        </div>
                    </div>

                    <button>Search Flights ></button>
                </div>
            </form>
        </div>
    </section>

    <section class="headerServices">
        <div class="headerServicesImages">
            <div class="servicesImageDiv">
                <img src="../assets/images/search.png" width="35px">
            </div>

            <div class="separation">
                <div class="topLine"></div>
                <div class="bottomLine"></div>
            </div>

            <div class="servicesImageDiv">
                <img src="../assets/images/select.png" width="35px">
            </div>

            <div class="separation">
                <div class="topLine"></div>
                <div class="bottomLine"></div>
            </div>

            <div class="servicesImageDiv">
                <img src="../assets/images/book.png" width="35px">
            </div>
        </div>

        <div class="headerServicesText">
            <div class="servicesText">
                <h3>SEARCH</h3>
                <p>Search for flights to a destination of your choice from all over the world.</p>
            </div>

            <div class="servicesText">
                <h3>SELECT</h3>
                <p>You pick the flights that are scheduled for your comfort and convenience.</p>
            </div>

            <div class="servicesText">
                <h3>BOOK</h3>
                <p>Book your selected flights and pay online with an option to book on-hold and pay later.</p>
            </div>
        </div>
    </section>

    <!-- <section class="heroImage">
        <p>ABOUT US</p>
    </section> -->

    <section class="topDestinations">
        <h1>TOP DESTINATIONS <span>...near you</span></h1>
        <div class="destinationDiv">
            <img src="../assets/images/Destinations-Lagos.jpg" width="350px">
            <img src="../assets/images/Destinations-Abuja-2.jpg" width="350px">
            <img src="../assets/images/Destinations-Jos.jpg" width="350px">
            <img src="../assets/images/Destinations-Owerri.jpg" width="350px">
            <img src="../assets/images/tour8.jpg" width="350px">
            <img src="../assets/images/Destinations-Yola.jpg" width="350px">
        </div>
    </section>

    <section class="news">
        <div class="newsText">
            <h2>Want to get the latest travel news and deals from us?</h2>
            <p>Enter your email and we'll have them sent your way.</p>
        </div>

        <div class="newsInput">
            <input type="email" placeholder="Your email...">
            <button>Subscribe</button>
        </div>
    </section>

    <section class="footer">
        <div class="footerLeft">
            <ul class="footerServices">
                <li>Services</li>
                <li><a href="./air_landing.html">Flights</a></li>
                <li><a href="./road_landing.html">Rides</a></li>
                <li><a href="./destination.html">Top Destinations</a></li>
            </ul>

            <ul class="moreOnUs">
                <li>More on Us</li>
                <li><a href="./about.html">About Us</a></li>
                <!-- <li><a href="#">Feedback</a></li> -->
            </ul>
        </div>

        <div class="footerRight">
            <h3>CONTACT US</h3>
            <div class="contactLeft">
                <p>Mobile: +2348052218277</p>
                <p>Email: swiftinc@gmail.com</p>
            </div>

            <div class="contactRight">
                <p>Our HEAD OFFICE: 43 st. Lukashire street, Lilby estate, Bonny Island, Rivers State, Nigeria.</p>
            </div>
        </div>
    </section>
    <section class="copyright">
        <p>© 2022 Swift transports. All rights reserved</p>
    </section>
</body>

</html>