<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/favicon.png">
    <link rel="stylesheet" href="../assets/css/login_style.css">
    <title>SWIFT | Login</title>
</head>

<body>
    <div class="navBar">
        <a href="./air_landing.html" class="logo">
            <img src="../assets/images/logo.png" width="75px">
        </a>

        <ul>
            <li><a href="./about.html">About Us</a></li>
            <li><a href="./signup.html" target="_blank"><span>Sign Up</span></a></li>
        </ul>
    </div>

    <section class="loginPage">
        <div class="form">
            <div class="formHeader">
                <h2>LOG <span>IN</span></h2>
                <img src="../assets/images/logo.png" alt="page logo" width="55px">
            </div>

            <div class="formInput">
                <input type="email/name" placeholder="Email or Username">
                <input type="password" placeholder="Pasword">
            </div>

            <div class="formEnd">
                <div class="rememberMe">
                    <input type="checkbox">
                    <p>Remember Me</p>
                </div>

                <button>Login</button>
            </div>

            <div class="formExtras">
                <p>Don't have an account? No need to worry. <a href="../templates/signup.html" target="_blank">Sign up for free.</a></p>
            </div>
        </div>
    </section>
</body>

</html>